header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: black;
}


header ul {
    /* ul要素をまとめて左寄せ */
    float: left;
    list-style: none;
    line-height: 50px;
}

header ul li {
    /* list一つずつ左寄せ */
    float: left;
    padding-right: 30px;
    color: white;
    font-size: 25px;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    padding-left: 80px;
    font-size: 20px;
}

span.message {
    margin-left: 240px;
    color: red;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 95%;
    margin: 0 auto;
}

.A {
    border-collapse: collapse;
    table-layout: fixed;
    height: 20px;
    width: 100%;
    font-size: 15px;
}

.A th,
.A td,
.A tr {
    border: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3px;
}

.text {
    width: 300px;
    border: none;
    outline: none;
}

span.radio {
    margin: 30px;
}

span.A {
    margin-left: 200px;
}

.gender {
    margin-right: 50px;
}

.privilege {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
}

form .submitA {
    float: right;
    width: 15%;
    margin-bottom: 50px;
    border: 2px solid black;
    border-top: none;
    padding: 3px;
}

.B form .submit {
    width: 100%
}

.B {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    height: 20px;
    font-size: 15px;
    margin-bottom: 50px;
}

.B th,
.B td,
.B tr {
    border: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3px;
}

.B td.right {
    text-align: right;
}

.B td.center,
.B th {
    text-align: center;
}



footer {
    float: left;
    width: 100%;
    height: 80px;
    background-color: black;
    /* footer内の文字を装飾する */
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    color: white;
}